.danhmuc{
    /* border: 1px solid #000; */
    padding: 10px;
    padding-top: 30px;
    margin-bottom: 50px;
    display: flex;
    background-color: #fff;
}

.product-boxdanhmuc{
    text-align: center;
    margin: auto;
}
.product-boxdanhmuc img{
    width: 270px;
    height: 270px;
}
.h2{
    /* background-color: rgb(184, 184, 184); */
    padding: 15px;
    border-radius: 5px;
    /* border: 1px solid gray; */
}